* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --button: #FF0000;
  --main-background:  #C4C4C4;
  --background: #E5E5E5;
  --text: #000;
  --footer: #000;
  --text-description: #9C9696;
}


body {
  font-family: 'Roboto', sans-serif;
}

header nav{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 10px;
  background: transparent;
  position: fixed;
}

#nav.scroll{
  background: rgb(48, 100, 243);
  color: white;
}

header nav ul{
  display: flex;
  align-items: center;
}

header nav ul li{
  list-style: none;
  cursor: pointer;
}

header nav ul li a{
  margin:10px 40px;
  text-decoration:none ;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text);
}

header nav ul li:nth-child(5) > img{
  position: absolute;
  top: 8px;
  left: 2px;
  z-index: 1;
}

header nav ul li:nth-child(5){
  position: relative;
}


header nav ul li input{
  padding:10px 25px;
  border: none;
  outline: none;
  border-radius: 8px;
}

header nav ul li:nth-child(6){
  margin-left: 50px;
}

.left-right{
  display: flex;
}


.left-right .left{
  text-align: left;
  padding: 90px 30px;
  background-color: var(--background);
}

.left-right .left h1{
  font-size: 2.8rem;
  font-weight:700;
  margin-bottom: 10px;
}

.left-right .left > p{
  color: var(--text-description);
  font-weight: 400;
  margin-bottom: 10px;
}

.left-right .left .price-button{
  display: flex;
  flex-direction: column;
}

.left-right .left .price-button button{
  color: white;
  background: var(--button);
  border:none;
  border-radius: 8px;
  font-size: 1.2rem;
  padding: 20px;
  margin: 20px 5px;
  cursor: pointer;
}

.left-right .left .price-button button:hover{
  background: crimson;
  box-shadow: 0px 2px 5px 0px black;
}

.left-right .right{
  width: 100%;
  padding: 65px 20px 25px;
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: var(--main-background);
}

.left-right .right > img{
  width: 350px;
}

.left-right .right .tenis-options{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.left-right .right .tenis-options img{ 
  margin: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.left-right .right .tenis-options img:hover{
  transform: scale(1.2);
  transition: transform .25s ease;
}

footer {
  display: flex;
  justify-content: space-between;
}

footer nav {
  display: flex;
}

footer nav ul{
  display: flex;
  align-items: center;
}

footer button {
  display: flex;
  align-items: center;
  padding: 10px 55px;
  cursor: pointer;
  font-size: 1.2rem;
  background: var(--footer);
  color: white;
  border:none;
}

footer button img{
  margin-left: 10px;
}

footer nav ul li:first-child{
  margin:0;
  cursor: pointer;
}

footer nav ul li{
  font-size: 1.2rem;
  list-style: none;
  margin: 0 30px;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 644px){

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer nav ul{
    display: flex;
    flex-direction: column;
  }

  footer nav ul li{
    padding: 10px
  }

}

@media (max-width: 698px){
  .left-right{
    flex-direction: column-reverse;
  }
}


@media (max-width: 806px){

footer nav ul{
  display: flex;
  align-items: center;
}

footer nav ul li{
  font-size: 0.9rem;
  margin: 0 20px;
}
}

@media (max-width: 1006px){

  header nav ul{
    display:none;
  }

  .left-right .right{
    width: 100%;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  footer button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    width: 100%;
  }
  
}
